@import "../theme/mcbasketball.globals";
@import "../theme/mcbasketball.mixins";

// Display
// --------------------------------------------------
// Modifies display of a particular element based on the given classes

.mcbasketball-hide {
  display: none !important;
}

// Adds hidden attributes
@each $breakpoint in map-keys($screen-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $screen-breakpoints);

  @include media-breakpoint-up($breakpoint, $screen-breakpoints) {
    // Provide `mcbasketball-hide-{bp}-up` classes for hiding the element based
    // on the breakpoint
    .mcbasketball-hide#{$infix}-up {
      display: none !important;
    }
  }

  @include media-breakpoint-down($breakpoint, $screen-breakpoints) {
    // Provide `mcbasketball-hide-{bp}-down` classes for hiding the element based
    // on the breakpoint
    .mcbasketball-hide#{$infix}-down {
      display: none !important;
    }
  }
}
